#grid {
  margin: 0;
  padding: 0;
  height: 18px;
}
#block_earth {
  width: 16px;
  height: 16px;
  background-color: brown;
  border: 1px solid #000;
  display: inline-block;
}
#block_grass {
  width: 16px;
  height: 16px;
  background-color: green;
  border: 1px solid #000;
  display: inline-block;
}
* {
  margin: 0;
  padding: 0;
}
